@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

/* font-family: 'Barlow Semi Condensed', sans-serif; */

:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Light-gray);
}

.container {
  width: 75%;
  height: 70%;
  display: grid;
  grid-template-columns: 247px 247px 247px 247px;
  grid-template-rows: 223.5px 223.5px;
  gap: 12px;
}

.one-art {
  grid-area: 1/1/2/3;
  background-color: var(--Moderate-violet);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right 175px top 95px;
}
.two-art {
  grid-area: 1/3/2/4;
  background-color: var(--Very-dark-grayish-blue);
}
.three-art {
  grid-area: 1/4/3/5;
  background-color: var(--White);
}
.four-art {
  grid-area: 2/1/3/2;
  background-color: var(--White);
}
.five-art {
  grid-area: 2/2/3/4;
  background-color: black;
}

div [class*="art"] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  border-radius: 7px;
}
.pic {
  display: flex;
  align-items: center;
}
.ph-pic img {
  border-radius: 50%;
  width: 40px;
  margin-right: 10px;
  border: solid 2px #f5f5f5;
}
.header h5 {
  color: var(--Light-gray);
}
.header h5 span {
  font-weight: bold;
  display: block;
  color: white;
}

.text-bold p {
  color: white;
  font-weight: bold;
  font-size: 15px;
  font-family: "Barlow Semi Condensed", sans-serif;
}
.text p {
  font-size: 12px;
  color: gray;
}

.three-art .text-bold p,
.four-art .text-bold p {
  color: var(--Very-dark-blackish-blue);
}

.three-art .header h5 span,
.four-art .header h5 span {
  color: var(--Very-dark-blackish-blue);
}

/* the meida query */

@media (min-width: 375px) and (max-width: 768px) {
  * {
    font-size: 10px;
  }
  body {
    height: 200vh;
  }
  .container {
    width: 270px;
    height: 100%;
    display: grid;
    grid-template-columns: 247px;
    grid-template-rows: 150px 140px 180px 165px 129px 130px 150px 150px;
    row-gap: 12px;
    background-color: #eceff1;
    padding: 20px 12px;
  }

  .one-art {
    grid-area: 1/1/3/2;
    background-position: right 25px top 5px;
    background-attachment: scroll;
  }
  .two-art {
    grid-area: 3/1/4/2;
  }
  .three-art {
    grid-area: 7/1/9/2;
  }
  .four-art {
    grid-area: 4/1/5/2;
  }
  .five-art {
    grid-area: 5/1/7/2;
  }

  .ph-pic img {
    width: 30px;
  }
  .text-bold p {
    font-size: 13px;
  }
  .text p {
    font-size: 10px;
  }
}
